.header_title_logo {
    display: inline;
    font-family: 'Amatic SC', cursive;
    float: left;
    margin: 1rem 2rem;
}

.footer_title_logo {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 2rem;
}

.main_header{
    height: 6rem;
}

.main_footer{
    text-align:center;
    margin-top: 2rem;
}

.main_header_navbar{
    font-family: 'Hi Melody', cursive;
    display: inline-block;
    margin: 1rem 3rem;
    font-size: 1rem;
    float: right;
}

.main_footer_navbar{
    font-size: .9rem;
    font-family: 'Hi Melody', cursive;
}

a {
    color: black;
    text-decoration: none
}

a:hover {
    color: black;
}


.right_button{
    display: inline-block;
    margin: 0 3rem;
    font-size: .9rem;
    float: right;
}

