{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <video src="../static/assets/video/background.mp4" muted autoplay loop></video>
        <div>
            <h4>Login</h4>
        </div>

        <div style="margin: 2rem">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-5" style="margin: 6rem" value="로그인">
            </form>
        </div>

        <a href="{% url 'accounts:create' %}">
            <input type="button" class="btn btn-primary rounded-pill col-6 mt-5" value="회원가입">
        </a>

    </div>
{% endblock %}