{% load static %}

    <div style="height: 6rem; width: 100%; position: relative;">

        <!--  헤더 로고  -->
        <a href="{% url 'festivals:main' %}">
            <h1 class="header_title_logo">Train To Travel</h1>
        </a>


        <!--  검색 버튼  -->
        <form action="{% url 'festivals:main' %}" method="post" name="search">
            {% csrf_token %}
            <div class="search-box">
                <input type="text" class="search-txt" name="test_input" placeholder="Search" onkeypress="JavaScript:press(this.form)">

                <a class="search-btn" href="{% url 'festivals:main' %}">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </form>
        <script src="{% static 'js/search.js' %}"></script>


        <!--  사용자 프로필  -->
        <div class="account_navbar">
            {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="header_nav_space">
                <input type="button" class="btn btn-primary rounded-pill col-12" value="로그인/회원가입">
            </a>
            {% else %}
                {% if user.profile %}
                <details>
                    <summary>
                        <img src="{{ user.profile.image.url }}" alt=""
                        style="height: 3rem; width: 3rem; border-radius: 10rem; margin-bottom: 1rem;">
                    </summary>
                <!--  a태그 글자 색 변경해야함  -->
                    <table class="table">
                        <tr>
                            <td>
                                <a href="{% url 'accounts:detail' pk=user.pk %}"  style="color: red;">
                                    정보 수정
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: red;">
                                즐겨찾기
                            </td>
                        </tr>
                        <tr>
                            <td style="color: red;">
                                후기 업로드
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'accounts:logout' %}" style="color: red;">
                                    로그아웃
                                </a>
                            </td>
                        </tr>
                    </table>
                </details>

                {% else %}
                <details>
                    <summary>
                        <img src="{% static '/img/annonymous.png' %}" alt=""
                        style="height: 3rem; width: 3rem; border-radius: 10rem; margin-bottom: 1rem;">
                    </summary>
                    <table class="table">
                        <tr>
                            <td>
                                <a href="{% url 'profileapp:create' %}" style="color: red;">
                                    정보 수정
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: red;">
                                즐겨찾기
                            </td>
                        </tr>
                        <tr>
                            <td style="color: red;">
                                후기 업로드
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'accounts:logout' %}" style="color: red;">
                                    로그아웃
                                </a>
                            </td>
                        </tr>
                    </table>
                </details>
                {% endif %}
            {% endif %}
        </div>
    </div>
